#bar {
  position: absolute;
  top: 65px;
  left: 253px;
  width: 100px;
  height: 20px;
  background: red;
}

#border {
  position: absolute;
  top: 62px;
  left: 250px;
  width: 100px;
  height: 20px;
  border: 3px solid;
  background-color: grey;
}
